.cartao {
    padding: 0 10px;
    width: 300px;
    cursor: pointer;
    border: none;
    margin-top: 25px;
  }

  .cartao :hover, :active, :focus{
    border: none;
  }
  
  .active{
    border: none;
  }
  
  :focus {
    outline: none;
}
.espaco{
  display: flex;
  justify-content: space-between;
  
}
.geral{
  margin-top: 25px;
}