.topo{
    margin-top: 75px;
}
p{
    padding: 30px;
}
.margintopo{
    margin-top: 15px;
}
.marginbaixo{
    padding-bottom: 15px;
}
.espaco{
    padding: 5px;
    font-weight: 500;
    margin-bottom: 5px;
    color: lightcoral;
}
.linka {
    color: #FFFFFF !important;
    text-decoration: none;
}

.linka:hover 
{
     color:#FFFFFF !important; 
     text-decoration:none; 
     cursor:pointer;  
}
.papel{
    padding: 15px;
}
.botaoSair{
    background-color: lightcoral !important;
    color:#FFFFFF !important;
}
.admintitulo{
    font-weight: 200 !important;
    color: lightcoral;
}
.adminsubtitulo{
    color: lightcoral;
}